.img-thumbnail {
    background: #fff;
    border-radius: 2px;
    height: 150px;
    margin: 1rem;
    position: relative;
    width: 150px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  }

  .img-thumbnail:hover {
    background-color: rgb(94, 25, 94);
  }